
body {
  background-color: #0d0d0d;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

#messages {
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 20px;
  padding: 10px;
}

.message {
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
}

.my-message {
  background-color: #2f80ed;
  color: white;
  margin-left: auto;
  text-align: right;
}

.other-message {
  background-color: #333;
  color: white;
  margin-right: auto;
  text-align: left;
}

.name {
  font-size: 12px;
  margin-bottom: 5px;
  color: #aaa;
}
